$cl-passion-fruit: #ffa200;
$cl-peach: #fa8f20;
$cl-tangerine: #e5621a;
$cl-raspberry: #fd386a;
$cl-tuesday-morning: #9f4885;
$cl-tuesday-afternoon: #8a3370;
$cl-grape: #4e1f41;
$cl-baby-boy: #5795f2;
$cl-lime: #79b700;
$cl-kiwi: #578400;
$cl-sand: #f3f3eb;
$cl-foam: #e9e7db;
$cl-latte: #817168;
$cl-tiramisu: #6c5c55;
$cl-chocolate: #36302c;
$cl-coffee: #4d3100;